<div class="container">
  <div class="row my-auto">
    <div class="col-md-4 my-auto">
      ジャンル<br>
      <% @genres.each do |genre| %>
        <%= genre.name %><br>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= image_tag @item.get_image(200,200) %>
    </div>
    <div class="col-md-4">
      <%= @item.name %><br>
      <%= @item.description %><br>
      <%= (@item.excluding_tax_price * 1.1).to_i %>(税込)

      <%= form_with model: @cart_item,url: cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :item_id ,value: @item.id %>
        <%= f.select :amount, *[1..20] ,{prompt: "個数選択"}%>
        <%= f.submit "カートに入れる", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>